body {
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    color: #2d3c49;
}

* {
    box-sizing: border-box;
}

img,
h1,
h2,
h3 {
    width: 100%;
}

a {
	color: #33A1FF;
    text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
}

/** header **/

.my-name {
    font-size: 30px;
    text-align: right;
}

.my-name h3 {
    margin: 0px;
}
.my-name p {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

.header-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.splash-image {
    max-width: 1200px;
    text-align: center;
    clear: both;
    padding-top: 20px;
	border-top: 3px solid #2d3c49;
}

.splash-image img {
    width: 100%;
}


/** body container **/
.body-container {
    max-width: 1200px;
    font-size: 0; /* https://stackoverflow.com/questions/13589883/ghost-space-between-inline-block-elements-in-chrome-safari-and-firefox */
    clear: right;
    display: flex;
    flex-wrap: wrap;
}

.body-header {
    color: #7d97ad;
    max-width: 1200px;
    margin: 0px auto;
    font-size: 25px;
    padding-top: 20px;
	width: 100%;
}

.article-container {
    width: 25%;
    font-size: 12px;
    text-align: center;
	padding: 10px 20px;
}

.article-container  article {
	border: 2px dashed #AAA;
}

.header {
	padding: 15px;

}

.body-container p {
	font-size: 15px;
}

/** footer **/
footer {
    max-width: 1200px;
    border-top: 2px solid #dbe2e8;
    margin: 0px auto;
    margin-top: 4em;
    padding: 2em;
    text-align: center;
}


/** media queries **/
@media screen and (max-width:767px)
{
    .article-container  {
        width: 100%;
        font-size: 25px;
    }
    
    .splash-image h1 {
        font-size: 60px;
    }

    .logo-image {
        width: 100%;
        text-align: center;
    }
	
    .logo-image img {
        width: 15%;
    }

    .my-name {
        font-size: 25px;
        width: 100%;
        text-align: center;
    } 

    .body-header {
        text-align: center;
    }
	
	.body-container img {
		width: 30%;
	}
	
	
	a {
		font-size: 20px;
	}
    
}

@media screen and (min-width:767px) and (max-width:1023px)
{
    /* For iPad: */
    .article-container  {
        width: 33.333%;
        font-size: 25px;
    }
    
    .splash-image h1 {
        font-size: 50px;
    }

    .logo-image img {
        width: 45%;
    }
	
	.body-container img {
		width: 40%;
	}
	
	a {
		font-size: 14px;
	}

}

@media screen and (min-width:1024px)
{
    /* For Desktop: */
    .article-container {
        width: 33.33%;
        font-size: 25px;
    }
    
    .header-container,
    .body-container,
    .splash-image {
        margin: 0px auto;
    }
    
    .splash-image h1 {
        font-size: 40px;
    }

    .logo-image img {
        width: 45%;
    }
	
	.body-container img {
		width: 40%;
	}
	
	a {
		font-size: 20px;
	}
}

/*
.logo-image,
.my-name,
.header-container,
.splash-image,
.body-title,
article,
.header {
	border: 1px solid #CCC;
}*/